* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-color: #10b981;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 100px;
}

.tasks {
    display: flex;
    padding: 15px 20px;
    border: 2px solid;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 0;
    justify-content: space-between;
    border-bottom: 5px solid #000000d3;
}

.icon {
    padding: 0 10px;
    opacity: 0.9;
    cursor: pointer;
}


form {
    text-align: center;
    margin-top: -30px;
    margin-left: 30px;
}

button {all: unset;}

#post {
    padding: 10px;
    position: relative;
    top: 15px;
    right: 8px;
}

#post-icon {
    font-size: 45px;
    opacity: 0.9;
    cursor: pointer;
}

input {
    padding: 8px 20px;
    border: 2px solid;
    border-radius: 10px 0;
    border-bottom: 5px solid #000000d3;
    color: #000;
    font-size: 17px;
}

::placeholder {
    color: #000;
}

img {
    display: block;
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
 }

 /* for javascript */
 .dn {
    position: absolute;
    left: -9999px;
 }

 .finished {
    text-decoration-line: line-through;
 }
